:root {
    --primaryColor: rgba(69, 153, 181, 1);
    --secondaryColor: rgb(1, 19, 33, 1);
    --whiteColor : rgb(213, 213, 213);
    scroll-behavior: smooth;
  }
 
body{background: -moz-linear-gradient(-45deg, #030B11 0%, #144E75 50%, #020609 100%);
    background: -webkit-linear-gradient(-45deg, #030B11 0%, #144E75 50%, #020609 100%);
    background: linear-gradient(135deg, #030B11 0%, #144E75 50%, #020609 100%);
    overflow: hidden;
}

header{    display: flex;
        flex-direction: column;}

.off-right{
    position: absolute;
    margin: 1vh 3rem 0 0;
    right: 0;
}        
#aboutMe, #work, #contactMe{
    color:var(--whiteColor);
}
.brand {
    margin-right:3rem;
    font-family: "MonteCarlo", cursive;
    font-family: "Source Code Pro", monospace;
    font-family: "Style Script", cursive;
    font-family: "Sans-serif bold";
    font-size: 3rem;
    letter-spacing: .5rem;
    color: var(--whiteColor);
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-align: right;
    
}

.brand h1{

}
.brand p{
 font-size: 2rem;
}



header > nav {


}

.head {
margin-top: -3vh;
}

.head ul{
    text-align: center;
}
.head li{
    width: 50%;
    display:none;
}

.head a{
    font-size: 2rem;
}

.head li:hover{
    padding:1vh;
}
.head li:hover > a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: rgba(20, 4, 4, 0.664);
    background-color: #232323;
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 20px rgba(24, 228, 255, 0.663), 0 0 30px rgba(24, 228, 255, 0.663), 0 0 40px rgba(24, 228, 255, 0.663), 0 0 55px rgba(24, 228, 255, 0.663), 0 0 75px rgba(24, 228, 255, 0.663)
}

.headImg{
    position: absolute;
    left: 0;
    width: 25%;
    overflow: hidden;
    height: auto;
}

.backGroundimg{

}
.backGroundimg span{
    position: relative;
    bottom: 11vh;

}

main{
display: flex;
flex-direction: row;
}

#aboutMe{
flex:1;
margin: 0 1rem;
}


#aboutMe section{

}
#aboutMe h2{
    margin:1rem;
    text-align: center;
}

.profilePic{
        width: 200px;
        border: 2px solid black;
        margin: 3rem 3rem 1rem;
        
}

#work{
    flex:2;
}

.featured{
    z-index: 289;
    width: 33%;
    position: relative;
    height: 90vh;
    left: 0;
    background: rgb(6,23,35);
    background: -moz-linear-gradient(-45deg, rgb(6,23,35) 0%, rgb(38,39,40) 45%, rgb(6,23,35) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(6,23,35) 0%, rgb(38,39,40) 45%, rgb(6,23,35) 100%);
    background: linear-gradient(135deg, rgb(6,23,35) 0%, rgb(38,39,40) 45%, rgb(6,23,35) 100%);
    margin-left: 1vw;
    margin-top:10vh;
}
.featured img{
    width:100%;
    margin: 25% 0;
    height: 524px;
}

.sites{
margin-top: 31vh;
padding-left: 2vw;
background: rgb(6,23,35);
background: -moz-linear-gradient(-45deg, rgb(6,23,35) 0%, rgb(23,88,132) 0%, rgb(6,23,35) 100%);
background: -webkit-linear-gradient(-45deg, rgb(6,23,35) 0%, rgb(23,88,132) 0%, rgb(6,23,35) 100%);
background: linear-gradient(135deg, rgb(6,23,35) 0%, rgb(23,88,132) 0%, rgb(6,23,35) 100%);
}
.sites h2{
    text-align: right;
    padding: 2rem 2rem 1.25rem;
    display: inline-block;
    margin-right: 0;

}
.prevSlide, .nextSlide{
 font-size: 2rem;
 position: absolute;
 cursor:pointer;
 padding-top:1rem;
}
.prevSlide:hover , .nextSlide:hover{
    color: rgba(20, 4, 4, 0.664);
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 20px rgba(24, 228, 255, 0.663), 0 0 30px rgba(24, 228, 255, 0.663), 0 0 40px rgba(24, 228, 255, 0.663), 0 0 55px rgba(24, 228, 255, 0.663), 0 0 75px rgba(24, 228, 255, 0.663)
}
.prevSlide{
right: 5rem;
}
.nextSlide{
right: 1rem;
}
.picPos{
    cursor: pointer;
}
.slide > ul > li > section{
    display: flex;
    flex-direction: row;
}
.slideWrapper{
    overflow: hidden;
  width: 90%;
}
.slideWrapper *{
    box-sizing: border-box;

}
.slideHolder{
    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;  
}

.slide{
    opacity: 0;
    position: absolute;
    top:0;
    width: 100%;
    margin: auto;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s; 
    list-style: none;
}
.slide.initial,
.slide.active {
  opacity: 1;
  position: relative;
  z-index: 900;
  min-height:585px
}
.sites .slideHolder{
 flex-direction: row;   
}
.sites ul li section{
    display: flex;
    flex-direction: row;
    width:837px;
    padding: .25rem;
    max-height: 195px;
    
}
.slideWrapper li{
    list-style: none;
}
.slide.prev,
.slide.next {
  z-index: 800;
}
.slide.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.slide.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}





.sites img {
    flex: 1;
    width: 190px;
    height: 190px;
}
.content{
    flex:2;
    padding:0 2rem 0;
    color: var(--whiteColor);
    
}
#work .links{
    margin-top: 1vh;

}
#contactMe{
    position: absolute;
    bottom: 3vh;  
    color: var(--whiteColor);
}
#contactMe h2{
    padding: 0.5rem 2rem;
}
.foot ul{
    display:flex;
    flex-direction: row;
}
.foot li{
    list-style: none;
}
.foot a{
    color: var(--whiteColor); 
}


@media screen and (min-width: 200px) and (max-width: 768px) {

    body{
        min-width:200px;
        overflow: auto;
    }
    .off-right{
        position: relative;
        
        
        
    }
    .brand{
    margin:1rem; 
    font-size:.75rem;
    letter-spacing: .1rem;
    }
    .head{
     margin: 1rem;   
    }
    .head a{
        font-size:1rem;
    }
    
    .head li{
        width: 100%;
        display: block;
    }
 #aboutMe{
     margin:0 0 2vh 0;
     
 }
 #aboutMe p{
    width: 85%;
    display: block;
    margin: 0 auto;
 }
 main{
     flex-direction: column;

}

 #work{
    margin:1vh 0 0;
 }
 .sites{
margin:0;
padding:1rem; 
 }
 .sites h2{
    padding: 1rem 1rem 1.25rem;
 }
 .prevSlide, .nextSlide{
    margin: 2vh 0;
 }
 .prevSlide{
     left: 0;
 }
 .sites ul li section {
    flex-direction: column;
    padding: 1.25rem;
    max-height: 195px;
    margin: 0 0 10vh;
}
.content{
    padding: 1vh 0;
    margin: 1vh 1rem;
}

#contactMe{
    position: relative;

}
.foot li {
    padding:0 .25rem;
}
    .featured{visibility: hidden;display: none;}





}
@media screen and (min-width: 767px) and (max-width: 769px){
    .sites ul li section {
        flex-direction: row;
        padding: 1.25rem;
        max-height: 195px;
        margin: 0 0 10vh;
    }
    .content{
        padding:3vh 2rem 0;
    }
    #aboutMe section{
        display:flex;
        flex-direction:row;
    }
.foot li{
    margin: 0 2vw;
}
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
body{
    height:90vh;
    overflow: auto;
}
.off-right{
    right:42vw;
}
.brand{
    position:absolute;
}
#aboutMe section {
    display:block;
}
#work{
    margin-left: 5vw;
}
.sites{
   padding-left: 2vw; 
}
  .sites ul li section {
        flex-direction: row;
        padding: 1.25rem;
        max-height: 195px;
        margin: 0 0 10vh;
        width: 594px;
        
    }
    
.featured{
    display:none;
   

}

.prevSlide, .nextSlide {
    font-size: 3rem;
    margin-top: -3vh;
}
.nextSlide {
    right: 3rem;
}
.prevSlide {
    right: 16rem;
}
#contactMe{
position: relative;
top: 0
}
.foot{
    font-size:3rem;
    
}
.foot ul{
    display: flex;
    flex-direction: row;
}
.foot li {
    margin: 2vh .5rem;
}
#aboutMe p {
    width: 282px;
    height: 20vh;
    overflow-y: scroll;
}
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {


 /* .featured{
    left:323px;
    width:33%;
} */
.brand{
    margin:1vh  0;
    font-size:1rem;
}
#aboutMe h2 {
    width: 253px;
}
#aboutMe{
    height: 86vh;
    overflow: hidden;
}
#aboutMe p {
   min-width: 214px;
    height: 20vh;
    overflow-y: scroll;
}
.sites img {
    width: 112px;
    height: 112px;
}
.sites ul li section {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: .25rem;
    max-height: 195px;
}
.prevSlide, .nextSlide{
    margin-top: -2vh;
}

}
@media screen and (min-width: 1500px)  {
    .sites img {
        width: 150px;
        height: 150px;
    }
}


@media screen and (min-width: 1921px) {
    body{
        max-width: 1920px;
        margin:0 auto;
    }
    .featured{width:640px;
    position: relative;
    width: 640px;
    display: contents;
    }

    .featured img {
        width: 650px;
        height: auto;
        margin: 0;
    }
    #aboutMe p{
    overflow-y: scroll;
    height: 19vh;
}
    .sites{
        padding-left: 2vw;
    }
    .prevSlide, .nextSlide{
        margin-top: -2vh;
        position: relative;
    }
    .prevSlide {
        right: 19rem;
    }
}